:root {
    --preto: hsl(0, 0%, 0%);
    --branco: hsl(0, 0%, 100%);
    --cinza: hsl(210, 24%, 93%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}
 
a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--preto);
}

body {
    width: 100vw;
    height: auto;
    font-family: 'Lilita One', cursive, 'Roboto', 'Noto Sans', sans-serif;
    font-size: 16px;
    background-color: var(--branco);
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: var(--preto);
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    color: var(--cinza);
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* HEADER */

header {
    width: 100%;
    height: 650px;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 50px;
    padding: 0 5rem;
    align-items: center;
}

.caixa-logo {
    width: 33.3%;
    font-family: 'Lilita One', cursive;
    text-transform: uppercase;
}

.menu {
    width: 33.3%;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}

.icones {
    width: 33.3%;
    text-align: end;
}

.icones a:first-child{
    padding-right: 0.5rem;
}

.icones img {
    width: 5%;
}

.banner {
    width: 100%;
    height: 600px;
    background: url(./imagens/banner.jpg) no-repeat bottom;
    background-size: cover;
    
}

.banner h1 {
    width: 500px;
    color: var(--branco);
    font-size: 7rem;
    line-height: 90%;
    padding: 10rem 0 0 3rem;
}

.banner button {
    width: 10%;
    height: 8%;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 2px var(--cinza);
    margin: 3rem 0 0 3rem;
    font: 1rem 'Roboto', sans-serif;
    font-weight: 500;
}

/* MAIN */

main {
    width: 100%;
    height: auto;
}

.logo-marcas {
    width: 100%;
    height: 250px;
    margin-top: 3rem;
    padding: 0 3rem;
    text-align: center;
}

.logo-marcas h2, .produtos h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.logo-box {
    max-height: 200px;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
}

.logo-box img{
    width: 10%;
}

.logo-box img:nth-child(2){
    width: 7%;
}

.produtos {
    width: 1300px;
    height: 1000px;
    padding: 0 3rem;
    margin: 0 auto;
    margin: 3rem auto;
}

.produtos-item {
    width: 400px;
    height: 300px;
    margin-bottom: 2rem;
    text-align: center;
}

.produtos-item div:first-child {
    border: 1px solid var(--cinza);
}

.produtos-item img {
    width: 50%;
}

.produtos-item p {
    color: var(--preto);
}

/* FOOTER */

footer {
    max-height: 500px;
    background-color: var(--cinza);
    align-items: flex-start;
    padding: 3rem;
}

.footer-box{
    width: 25%;
    height: 50%;
}

footer .caixa-logo {
    width: 100%;
    text-align: right;
    font-size: 1.9rem;
}

.menu-rodape ul{
    flex-direction: column;
    gap: 0.5rem;
}

.pagamento {
    align-items: center;
    text-align: left;
}

.pagamento h3 {
    margin-bottom: 1rem;
}

.pagamento div {
    justify-content: left;
    align-items: center;
    gap: 2rem;
}

.pagamento img {
    width: 7%;
}

hr {
    width: 100%;
    height: 2px;
    background-color: var(--preto);
    margin: 1.5rem 0;
    opacity: 0.5;
}

.copy {
    font-size: 1rem;
    margin: 0 auto;
    opacity: 0.5;
}

